<div class="row">
  <div class="col-sm-12 col-md-12 img-container">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" style="width: 100%; height: 400px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="btn-group" appDropdown #r="appDropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Manage
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}">
        <li><a class="dropdown-item" style="cursor: pointer" (click)="toShoppingClicked()">To Shopping List</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onEditClicked()">Edit Recipe</a></li>
        <li><a class="dropdown-item" style="cursor: pointer" (click)="onDeleteClicked()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{recipe.description}}
  </div>
</div><br>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        ({{ingredient.amount}}) - {{ingredient.name}}
      </li>
    </ul>
  </div>
</div>
